.navigation {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_button_menu {
  width: 100px !important;
  height: 36px !important;
  border-radius: 46px !important;
  border: #FB4C47 solid 2px !important;
  color: #FB4C47 !important;
  font-size: 13px !important;
  font-weight: bold !important;
}

.popover_menu_container {
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
}

.menu_item {
  color: #035755;
  font-weight: bold;
}

.section_container {
  background-color: white !important;
}

.section_title {
  font-size: 20px !important;
  color: #FA5652 !important;
  font-weight: bold !important;
}

.section_sub_title {
  font-weight: bold !important;
  font-size: 20px !important;
  color: #035755 !important;
}

.section_text_content {
  font-weight: '500';
  font-size: 12px;
}

.hero_button {
  background-color: #FB4C47 !important;
  border-radius: 65px !important;
  color: #FFFFFF !important;
  font-weight: bold !important;
  margin-left: 50.5px;
  margin-top: 6px;
}

.about_us_section_button {
  background-color: rgba(250, 86, 82, 0.15) !important;
  border: rgba(250, 86, 82, 0.15) solid 1px !important;
  border-radius: 65px !important;
  color: #FA5652 !important;
  font-weight: bold !important;
  margin-left: 50.5px;
  margin-top: 6px;
}

.number_mask {
  background-color: rgba(250, 86, 82, 0.15);
  width: 50px !important;
  height: 50px !important;
  border-radius: 25px;
  color: #FA5652;
  font-weight: bold;
  font-size: 16px;
}

.tree_menu {
  display: flex !important;
  flex-direction: column;
}

.tree_menu_item {
  color: #00402E;
  font-size: 20px;
}

.carousel_container {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  height: 300px !important;
}

.carousel_item {
  background-color: white;
}

.image {
  /* width: 148px; */
  height: auto;
}

.report_section_container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 12px;
}

.report_data_container {
  width: 100vw !important;
  height: 300px !important;
}

.image_flag {
  width: 25px;
  height: 17px;
  border-radius: 2px;
  margin-left: 16px;
}

.list_item {
  background-color: #FFA2A1;
  display: flex !important;
  justify-content: center !important;
}

.report_infor_text {
  width: 50px;
  font-weight: 'bold' !important;
  font-size: 14px !important;
  color: #035755 !important; 
  margin: auto;
}

.report_infor_text_country {
  width: 160px;
  font-weight: 'bold' !important;
  font-size: 14px !important;
  color: #035755 !important; 
  margin: auto;
}
